<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboarding" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding full-height">
    <ion-row>
      <ion-col>
        <ion-text class="title ion-margin-bottom">Regístrate</ion-text>
        <form [formGroup]="registerForm" (ngSubmit)="signUp()">
         
          <ion-row class="input-container ion-no-padding">
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-label color="medium" position="stacked"
                  >Usuario</ion-label>
                <ion-input type="user" formControlName="user"></ion-input>
              </ion-item>
             
            </ion-col>
          </ion-row>
          <ion-row class="input-container ion-no-padding">
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-label color="medium" position="stacked"
                  >Contraseña</ion-label
                >
                <ion-input
                  type="password"
                  formControlName="password"
                ></ion-input>
              </ion-item>
              
            </ion-col>
          </ion-row>
          
          <ion-row class="input-container ion-no-padding">
            <ion-col>
              <p class="gender-label">Seleccione Su Genero</p>
              <ion-radio-group formControlName="gender">
                <ion-item-group mode="ios">
                  <ion-item lines="none">
                    <ion-label>Mujer</ion-label>
                    <ion-radio value="0"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Hombre</ion-label>
                    <ion-radio value="1"></ion-radio>
                  </ion-item>
                </ion-item-group>
              </ion-radio-group>
            </ion-col>
          </ion-row>

          <ion-row class="input-container ion-no-padding">
            <ion-col>
              <ion-item class="ion-no-padding">
                <ion-label color="medium" position="stacked">Cumpleaños</ion-label>
                <ion-datetime
                  displayFormat="DD MMMM YYYY"
                  formControlName="birth"
                ></ion-datetime>
              </ion-item>
            
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-padding-top">
              <ion-button
                [disabled]="registerForm.invalid"
                class="cta-button"
                expand="block"
                fill="solid"
                type="submit"
              >
                <span>Ingresar</span>
              </ion-button>
              <p style="color: red;text-align: center;">
                {{sms}}
              </p>
              
            </ion-col>
          </ion-row>
        </form>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="login-message">
          <span>¿Ya tienes una cuenta?</span
          ><a routerLink="/signin">Ingresar</a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
